<!DOCTYPE html>
<html lang="en-US">

  <head>
    <title>your page title goes here</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <ul>
    <% @files.each do |file|  %>
      <li><a href="<%= file %>"><%= file %></a></li>
    <% end %>
    </ul>
    <p>Would you like to reverse the order?</p>
    <% if @param == "descending" %>
      <a href="/">Sort ascending</a>
      <% else %>
      <a href="?sort=descending">Sort descending</a>
    <% end %>
  </body>
</html>